<%-include("partials/header")-%>

<div class="mid">

  <div class="containerfrontpage">
    <div id="div1">
      <div id="featuredMatches">
        <h4>FEATURED MATCHES</h4>
      </div>
      <div class="item1">
        <ul class="boxing">
          <li class="match-list">
            <p style="color:#222" class="para-team">SLK147-6 (20)</p>
            <p style="color:#666666" class="para-team">TKR146-6 (20)</p>
            <span>Saint Lucia Kings won by 1 run</span>
          </li>
          <li class="match-list">
            <p style="color:#666666" class="para-team">ENGW227-7 (50)</p>
            <p style="color:#222" class="para-team">INDW232-3 (44.2)</p>
            <span>India Women won by 7 wkts</span>
          </li>
          <li class="match-list">
            <p style="color:#222" class="para-team">BR107-6 (16)</p>
            <p style="color:#666666" class="para-team">GAW81-9 (16)</p>
            <span>Barbados Royals won by 29 runs (DLS)</span>
          </li>
          <li class="match-list">
            <p style="color:#222" class="para-team">NAM284-4 (50)</p>
            <p style="color:#666666" class="para-team">PNG117 (42.4)</p>
            <span>Namibia won by 167 runs</span>
          </li>
          <li>
            <button type="button" name="next" id="go-right" style="background-color:inherit;border:none; outline:none">
              <img src="https://www.cricbuzz.com/images/view_next.png" alt="go right">
            </button>
          </li>
        </ul>

      </div>
      <div class="item2">
        <ul class="boxing">
          <li>
            <button type="button" name="previous" id="go-left" style="background-color:inherit;border:none; outline:none">
              <img src="https://www.cricbuzz.com/images/view_prev.png" alt="go next">
            </button>
          </li>
          <li class="match-list">
            <p style="color:#222" class="para-team">ZIM205-3 (35.1)</p>
            <p style="color:#666666" class="para-team">SL</p>
            <span>Zimbabwe to bat</span>
          </li>
          <li class="match-list">
            <p style="color:#222" class="para-team">ZIM205-3 (35.1)</p>
            <p style="color:#666666" class="para-team">SL</p>
            <span>Zimbabwe to bat</span>
          </li>
        </ul>
      </div>
    </div>

    <div id="div2">
      <div class="heading-h4">
        <h4>LATEST NEWS</h4>
      </div>
      <div class="news-content">
        <a class="links-match" href="#">Men's Ashes 2023 to begin on June 16 at Edgbaston</a>
        <p class="news-time">4h ago</p>
      </div>

      <div class="news-content">
        <a class="links-match" href="#">Women's Asia Cup 2022: India face Pakistan on October 7</a>
        <p class="news-time">11h ago</p>
      </div>

      <div class="news-content">
        <a class="links-match" href="#">'We have to trust our boys' - Hardik on India's death bowling concerns</a>
        <p class="news-time">12h ago</p>
      </div>

      <div class="news-content">
        <a class="links-match" href="#">ICC playing conditions tweaks: Saliva ban permanent; overrate penalty in ODIs</a>
        <p class="news-time"> 1 day ago</p>
      </div>

      <div class="news-content">
        <a class="links-match" href="#">Shelly Nitschke appointed Australia women's head coach</a>
        <p class="news-time">1d ago</p>
      </div>
      <div class="news-content">
        <a class="links-match" href="#">Bracewell, Allen get maiden World Cup call-up</a>
        <p class="news-time">1d ago</p>
      </div>
      <div class="news-content">
        <a class="links-match" href="#">SA20 Auction: Tristan Stubbs bags the highest bid in maiden auction</a>
        <p class="news-time">1d ago</p>
      </div>
      <div class="news-content">
        <a class="links-match" href="#">'I'm working on it' - Rahul on strike-rate</a>
        <p class="news-time">2d ago</p>
      </div>

    </div>

    <div id="div-photo">
      <div class="heading-h4">
        <h4>LATEST PHOTOS</h4>
      </div>
      <div class="news-content">
        <img width="200px" class="latest-photo" src="https://www.cricbuzz.com/a/img/v1/165x95/i1/c243165/pakistan-vs-england-1st-t20i.jpg" alt="pakvseng">
        <a class="links-match"  href="#">Pakistan vs England, 1st T20I, Karachi</a>
        <p class="news-time">Tue, Sep 20 2022</p>
      </div>
      <div class="news-content">
        <img width="200px" class="latest-photo" src="https://www.cricbuzz.com/a/img/v1/165x95/i1/c243116/india-vs-australia-1st-t20i.jpg" alt="">
        <a class="links-match" href="#">India vs Australia, 1st T20I, Mohali</a>
        <p class="news-time">Tue, Sep 20 2022</p>

      </div>

      <div class="news-content">
        <img width="200px" class="latest-photo" src="https://www.cricbuzz.com/a/img/v1/165x95/i1/c242775/sri-lanka-vs-pakistan-final.jpg" alt="">
        <a class="links-match" href="#">Sri Lanka vs Pakistan, Final, Asia Cup 2022</a>
        <p class="news-time">Sun, Sep 11 2022</p>
      </div>

      <div class="news-content">
        <img width="200px" class="latest-photo" src="https://www.cricbuzz.com/a/img/v1/165x95/i1/c242570/india-vs-afghanistan-super-4.jpg" alt="">
        <a class="links-match" href="#">India vs Afghanistan, Super 4, Match 5, Asia Cup 2022</a>
        <p class="news-time">Sat, Jan 15 2022</p>
      </div>
      <div class="news-content">
        <img width="200px" class="latest-photo" src="https://www.cricbuzz.com/a/img/v1/165x95/i1/c242437/pakistan-vs-afghanistan-super.jpg" alt="">
        <a class="links-match" href="#">Pakistan vs Afghanistan, Super 4, Match 4, Asia Cup 2022</a>
        <p class="news-time">Wed, Sep 07 2022</p>
      </div>
      <div class="news-content">
        <img width="200px" class="latest-photo" src="https://www.cricbuzz.com/a/img/v1/165x95/i1/c242330/india-vs-sri-lanka-super-4-m.jpg" alt="">
        <a class="links-match" href="#">India vs Sri Lanka, Super 4, Match 3, Asia Cup 2022</a>
        <p class="news-time">Tue, Sep 06 2022</p>
      </div>
    </div>
    <div id="div-schedule">
      <div class="heading-h4">
        <h4>SCHEDULE</h4>
      </div>

      <div class="news-content">
        <p class="links-match">Pakistan vs England, 2nd T20I</p>
        <p class="news-time">Thu Sep 22 • 8:00 PM GMT</p>
      </div>
      <div class="news-content">
        <p class="links-match">Tanzania vs Uganda, Final</p>
        <p class="news-time">Thu Sep 22 • 7:30 PM GMT</p>
      </div>
      <div class="news-content">
        <p class="links-match">India vs Australia, 2nd T20I</p>
        <p class="news-time">Fri Sep 23 • 7:00 PM GMT</p>
      </div>
      <div class="news-content">
        <p class="links-match">Pakistan vs England, 3rd T20I</p>
        <p class="news-time">Fri Sep 23 • 8:00 PM GMT</p>
      </div>
      <div class="news-content">
        <p class="links-match">India vs Australia, 3rd T20I</p>
        <p class="news-time">Sun Sep 25 • 7:00 PM GMT</p>
      </div>
      <div class="news-content">
        <p class="links-match">United Arab Emirates vs Bangladesh, 1st T20I</p>
        <p class="news-time">Sun Sep 25 • 7:30 PM GMT</p>
      </div>
      <div class="news-content">
        <p class="links-match">India vs South Africa, 1st T20I</p>
        <p class="news-time">Wed Sep 28 • 7:00 PM GMT</p>
      </div>
      <div class="news-content">
        <p class="links-match">Pakistan vs England, 4th T20I</p>
        <p class="news-time">Sun Sep 25 • 8:00 PM GMT</p>
      </div>
    </div>
    <div class="extra-div"></div>
    <div id="div3">
      <%articlesAll.forEach(function(article){ %>
        <div class="mid-news">
          <p class="heading-news"><%=article.articleName%></p>
          <img class="mid-news-img" src= <%=article.articleImg%> alt="">
          <a class="news-link-mid" href="/article"><%=article.articleHeading%></a>
          <p class="heading-news"><%=article.newsContentEnd%></p>
          <a class="news-link-end" href="#"><%=article.newsLinkHeading%></a>
        </div>
      <%});%>
      <!-- <div class="mid-news">
        <p class="heading-news">WTC INTERNATIONAL 2023</p>
        <img class="mid-news-img" src="https://www.cricbuzz.com/a/img/v1/420x235/i1/c243207/commercial-reasons-behind-why.jpg" alt="">
        <a class="news-link-mid" href="/article">Commercial reasons behind why Lord's won't be hosting 2023 WTC final</a>
        <p class="heading-news">The Oval will be the venue for the marquee clash, with Lord's only able to stage the event in 2025</p>
        <a class="news-link-end" href="#">Men's Ashes 2023 to begin on June 16 at Edgbaston</a>
      </div>
      <div class="mid-news">
        <p class="heading-news">SOUTH AFRICA TOUR OF INDIA, 2022</p>
        <img class="mid-news-img" src="https://www.cricbuzz.com/a/img/v1/420x235/i1/c243190/kca-dispels-fear-over-threat-t.jpg" alt="">
        <a class="news-link-mid" href="/article">KCA dispels fear over threat to India-SA T20I in Thiruvananthapuram</a>
        <p class="heading-news">Doubts over the T20I surfaced following Kerala State Electricity Board's decision to pull the plug on the power supply to the Greenfield Stadium</p>
      </div>
      <div class="mid-news">
        <p class="heading-news">INDIA WOMEN TOUR OF ENGLAND</p>
        <img class="mid-news-img" src="https://www.cricbuzz.com/a/img/v1/420x235/i1/c243195/harmanpreet-kaurs-143-powers.jpg" alt="">
        <a class="news-link-mid" href="/article">Harmanpreet Kaur's 143 powers India to memorable series win</a>
        <p class="heading-news">Led by Harmanpreet's fifth ODI century, India women thumped England by 88 runs to secure their maiden limited overs series in the country in 23 years</p>
        <a class="news-link-end" href="/article">Lord's game will be very emotional for us: Harmanpreet on Jhulan Goswami's retirement</a>
      </div>
      <div class="mid-news">
        <p class="heading-news">WTC INTERNATIONAL 2023</p>
        <img class="mid-news-img" src="https://www.cricbuzz.com/a/img/v1/420x235/i1/c243207/commercial-reasons-behind-why.jpg" alt="">
        <a class="news-link-mid" href="/article">Commercial reasons behind why Lord's won't be hosting 2023 WTC final</a>
        <p class="heading-news">The Oval will be the venue for the marquee clash, with Lord's only able to stage the event in 2025</p>
        <a class="news-link-end" href="/article">Men's Ashes 2023 to begin on June 16 at Edgbaston</a>
      </div>
      <div class="mid-news">
        <p class="heading-news">SOUTH AFRICA TOUR OF INDIA, 2022</p>
        <img class="mid-news-img" src="https://www.cricbuzz.com/a/img/v1/420x235/i1/c243190/kca-dispels-fear-over-threat-t.jpg" alt="">
        <a class="news-link-mid" href="/article">KCA dispels fear over threat to India-SA T20I in Thiruvananthapuram</a>
        <p class="heading-news">Doubts over the T20I surfaced following Kerala State Electricity Board's decision to pull the plug on the power supply to the Greenfield Stadium</p>
      </div> -->
      <div class="mid-news">
        <p class="heading-news">TOUR POSTPONED</p>
        <div class="flexIt">
          <img width="200px" class="new-img-bottom" src="https://www.cricbuzz.com/a/img/v1/135x75/i1/c242975/indias-t20-world-cup-standby.jpg" alt="">
          <div class="text-news">
            <a class="news-link-small" href="#">India's T20 World Cup standby players set to travel with team</a>
            <p class="news-time">1d ago</p>
          </div>
        </div>
        <p class="heading-news">Border controls and uncertain quarantine in NZ pushed forward the series comprising 3 ODIs and a one-off T20I</p>
      </div>
      <div class="mid-news">
        <p class="heading-news">CWC LEAGUE 2 TRI-SERIES</p>
        <div class="flexIt">
          <img width="200px" class="new-img-bottom" src="https://www.cricbuzz.com/a/img/v1/135x75/i1/c243186/namibia-complete-sweep-of-16th.jpg" alt="">
          <div class="text-news">
            <a class="news-link-small" href="#">Namibia complete sweep of 16th League 2 Tri-Series</a>
            <p class="news-time">22h ago</p>
          </div>
        </div>
        <p class="heading-news">Gerhard Erasmus came up with an all-round performance, top-scoring with 49 before picking up three wickets</p>
      </div>
      <div class="mid-news">
        <p class="heading-news">AUSTRALIA WOMEN'S CRICKET</p>
        <div class="flexIt">
          <img width="200px" class="new-img-bottom" src="https://www.cricbuzz.com/a/img/v1/135x75/i1/c243038/shelly-nitschke-appointed-aust.jpg" alt="">
          <div class="text-news">
            <a class="news-link-small" href="#">  Shelly Nitschke appointed Australia women's head coach</a>
            <p class="news-time">2d ago</p>
          </div>
        </div>
        <p class="heading-news">  The 45-year-old will step down from her post as head coach of Perth Scorchers at the end of the upcoming WBB</p>
      </div>
      <div class="mid-news">
        <p class="heading-news">NEW ZEALAND WOMEN'S TOUR OF WEST INDIES</p>
        <div class="flexIt">
          <img width="200px" class="new-img-bottom" src="https://www.cricbuzz.com/a/img/v1/135x75/i1/c243039/new-zealand-prevail-in-opening.jpg" alt="">
          <div class="text-news">
            <a class="news-link-small" href="#">New Zealand prevail in opening ODI after confused finish</a>
            <p class="news-time">2d ago</p>
          </div>
        </div>
        <p class="heading-news">While West Indies thought they had won the game, New Zealand had surpassed the DLS score to emerge victorious</p>
      </div>
      <div class="mid-news">
        <p class="heading-news">COUNTY CHAMPIONSHIP, 2022</p>
        <div class="flexIt">
          <img width="200px" class="new-img-bottom" src="https://www.cricbuzz.com/a/img/v1/135x75/i1/c243192/balderson-hat-trick-seals-two.jpg" alt="">
          <div class="text-news">
            <a class="news-link-small" href="#">Balderson hat-trick seals two-day win for Lancashire</a>
            <p class="news-time">16h ago</p>
          </div>
        </div>
        <p class="heading-news">Elsewhere, David Lloyd's triple ton put Glamorgan in the driver's seat against Derbyshire</p>
      </div>
      <a href = "#" class="more-link">More News..</a>
    </div>










    <div id="div-4">
      <div class="sub-div">
        <a href="#">
            <img class="ad-img" src="https://upload.wikimedia.org/wikipedia/commons/a/aa/1922_bottled_Coca-Cola_ad.png" alt="">
        </a>
      </div>
      <div class="sub-div">
        <h4>FEATURED VIDEOS</h4>
        <div class="vid">
          <iframe width=100% style="margin-top: 5px; margin-bottom:5px;border-radius:4px" height="180" src="https://www.youtube.com/watch?v=2ZoGsGbnI3M" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <a href="#" class="news-link-mid">
              इतने back-up pacers को आज़माने के पीछे क्या है mindset, clarity की है ज़रुरत: Ashish Nehra
          </a>
          <p class="news-time">1d ago</p>
        </div>
        <div class="vid">
          <iframe width=100% style="margin-top: 5px; margin-bottom:5px;border-radius:4px" height="180" src="https://www.youtube.com/watch?v=CSacDarWOFU" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <a href="#" class="news-link-mid">
              Answered: Have India learned from mistakes of T20 World Cup 2021 ?
          </a>
          <p class="news-time">1d ago</p>
        </div>
        <div class="vid">
          <iframe width=100% style="margin-top: 5px; margin-bottom:5px;border-radius:4px" height="180" src="https://www.youtube.com/watch?v=-_6Km_sAxZc" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <a href="#" class="news-link-mid">
              Jasprit Bumrah's absence makes a big difference : Hardik Pandya
          </a>
          <p class="news-time">1d ago</p>
        </div>
        <div class="more-vid">
          <button id="more-videos">More Videos</button>
        </div>
      </div>

      <div class="sub-div">
        <a href="#">
            <img class="ad-img" src="https://upload.wikimedia.org/wikipedia/commons/a/aa/1922_bottled_Coca-Cola_ad.png" alt="">
        </a>
      </div>

      <div class="sub-div">
        <div class="heading-h4">
          <h4>SPECIALS</h4>
        </div>
        <div class="vid">
          <img width="100%" class="vid-img" src="https://www.cricbuzz.com/a/img/v1/300x170/i1/c242991/david-miller-will-lead-paarl-r.jpg" alt="">
          <a href="#" class="news-link-vid">September 2022-News Digest</a>
          <p class="heading-news">
              News byte that you may have otherwise missed
          </p>
        </div>
        <div class="vid">
          <img width="100%" class="vid-img" src="https://www.cricbuzz.com/a/img/v1/300x170/i1/c241525/stars-jaw-dropping-bid-estim.jpg" alt="">
          <a href="#" class="news-link-vid">Making Sense of Star's multibillion dollar spurge</a>
          <p class="heading-news">
              The Walt Disney-owned media house wiped the opposition out with a jaw-dropping bid estimated at $3.125 billion
          </p>
        </div>
        <div class="vid">
          <img width="100%" class="vid-img" src="https://www.cricbuzz.com/a/img/v1/300x170/i1/c240747/trent-boult-asked-to-be-releas.jpg" alt="">
          <a href="#" class="news-link-vid">Cricket in transition: A new game in birth canal</a>
          <p class="heading-news">
              In the first part of a new feature series on Cricbuzz Plus, Bharat Sundaresan outlines the rapid changes that cricket is going through and poses questions about its future
          </p>
        </div>
        <div class="vid">
          <img width="100%" class="vid-img" src="https://www.cricbuzz.com/a/img/v1/300x170/i1/c241433/the-knight-riders-owned-by-sha.jpg" alt="">
          <a href="#" class="news-link-vid">Cricket in transition- A global Indian Private League</a>
          <p class="heading-news">
              As cricket becomes increasingly shaped by T20 franchise leagues, a group of Indian businesses are expanding into new frontiers. What's driving them?
          </p>
        </div>
      </div>
    </div>
  </div>


</div>

<%-include("partials/footer")-%>
